<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="8u 12u(mobile)">

                <!-- Links -->
                <section>
                    <h2>Links to Important Stuff</h2>
                    <div>
                        <div class="row">
                            <div class="3u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>
                                        <a href="/services" class="footer-text">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Serve</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Guidance</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="3u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>
                                        <a href="/store" class="footer-text">Store</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliates</a>
                                    </li>
                                    <li>
                                        <a href="#">Recommendations</a>
                                    </li>
                                    <li>
                                        <a href="#">Top Quality</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="3u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>
                                        <a href="/guardians" class="footer-text">Guardians</a>
                                    </li>
                                    <li>
                                        <a href="#">My Guardian</a>
                                    </li>
                                    <li>
                                        <a href="#">Meet the team</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="3u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>
                                        <a href="#" class="footer-text">Resources</a>
                                    </li>
                                    <li>
                                        <a href="#">Helpful Links</a>
                                    </li>
                                    <li>
                                        <a href="#">Nutrition Facts</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="4u 12u(mobile)">

                <!-- Blurb -->
                <section>
                    <h2>Who We Are</h2>
                    <p>
                        Our mission is to be your personal guides on a path towards a happier, healthier lifestyle. We certify our specialists and
                        make sure they are up to speed and able to help you with your life goals. Live W.O.W. specialists
                        are life coaches that have varying educational and industry experience.
                    </p>
                </section>

            </div>
        </div>
    </footer>
</div>


<!-- Copyright -->
<div id="copyright">
    &copy; LiveWow. All rights reserved. | Design:
    <a href="https://superiormarketingdesign.com">Superior Marketing & Design</a>
</div>