<h3 class="header-moto">
  Move Mountains with Words of Wisdom
</h3>
<!-- <h6 class="header-quote">"Inspirational Quote of the day"</h6> -->

<!-- Logo -->
<a href="/" id="logo">
  <img style="z-index:1001" src="./images/liveWOWlogo.png" class="logo" />
</a>

<!-- Nav -->
<nav id="nav">
  <a href="/services">Services</a>
  <a href="/guardians">Guardians</a>
  <a href="/wow">W.O.W.</a>
  <a href="/store">Store</a>
  <a href="/about">About Us</a>
  <a href="/contact" class="glow">Contact</a>
  <a href="/login">Login</a>
</nav>

<!-- Profile -->