<!-- Logo -->
<a href="index.html" id="logo">
  <img src="./images/liveWOWlogo.png" class="logo" />
</a>

<!-- Nav -->
<nav id="nav">
  <a href="./index.ejs">Home</a>
  <a href="./services.html">Services</a>
  <a href="./products.html">Store</a>
  <a href="./careers.html">Careers</a>
  <a href="./about.html">About Us</a>
  <a href="./about.html#contact" class="glow">Contact</a>
</nav>