<!DOCTYPE HTML>
<html>

<head>
    <% include ./partials/header.ejs %>
</head>

<body class="subpage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header">
                <div class="row">
                    <div class="12u">

                        <% include ./partials/nav.ejs %>

                    </div>
                </div>
            </header>
        </div>

        <!-- Content -->
        <div id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="12u 12u(mobile) important(mobile)">

                            <!-- Main Content -->
                            <section>
                                <header>
                                    <img src="images/us2.png" width="100%" height="100%" />
                                    <h2>Who We Are</h2>
                                    <h3>Hoping to bring health and positive energy to the world</h3>
                                </header>
                                <p>
                                    Our mission is to be your personal guides on a path towards a happier, healthier lifestyle. We certify our specialists and
                                    make sure they are up to speed and able to help you with your life goals. Live W.O.W.
                                    specialists are life coaches that have varying educational and industry experience.
                                </p>
                                <hr />
                                <br />
                                <header>
                                    <h2>What We Do</h2>
                                    <h3>Work hard on goals</h3>
                                </header>
                                <p>
                                    First, we help you create your vision, with goals and plans that encompass health and wellness concepts. Second, we will
                                    design a custom health and wellness plan that is tailor fit for your needs. Third, we
                                    will help you execute your custom health and wellness plan by bringing the service into
                                    the comfort of your own home through live video chats with a Live W.O.W. specialist.
                                    Through the live video chat, you get personal, custom feedback that empowers you to make
                                    the necessary lifestyle changes that workout videos cannot give you. Your custom profile
                                    will allow you and your specialist to analyze your progress compared to your goals as
                                    we take this journey with you.
                                </p>
                                <hr />
                                <br />
                                <header>
                                    <h2>THE INSPIRATION BEHIND LIVE W.O.W.</h2>
                                </header>
                                <p>
                                    LIVING THIS LIFESTYLE WILL HELP YOUR DEVELOP GREATER STAMINA AND STRENGTH TO HELP YOU PREVENT ILLNESS AND INJURIES IN THE
                                    FUTURE. LIVING WORDS OF WISDOM ENHANCES YOUR ABILITY TO IMPROVE YOUR STRENGTH AND FIND
                                    TREASURES OF HIDDEN KNOWLEDGE. EVEN FAITH, THE SIZE OF A MUSTARD SEED CAN GROW INTO A
                                    POWERFUL FORCE THAT EMPOWERS YOU MOVE MOUNTAINS THROUGHOUT YOUR LIFE. LIVE W.O.W. IS
                                    FAMILY. THROUGH YOUR EFFORTS YOU WILL FIND GREAT JOY IN THE JOURNY OF LIVING A HEALTHIER
                                    LIFESTYLE. HAPPINESS WILL COME AS YOU TAKE STEPS TO IMPROVE THE QUALITY YOUR LIFE. THE
                                    PRIMARY MOTIVE OF LIVE W.O.W. GUARDIANS IS LOVE. WE ARE COMMITIED TO HELPING YOU STAY
                                    ACCOUNTABLE TO YOUR GOALS AND VISIONS. WE BELIEVE SPIRITUALITY UNLOCKS MENTALITY UNLOCKS
                                    PHYSICALITY. THROUGH GOD'S STRENGTH, FAMILY, AND COMITMENT THE LIGHT WHICH SHINES FORTH
                                    IN THE DARKNESS WAS BORN. LIVE W.O.W. A HAPPIER, HEALTHIER, MORE PROSPEROUS LIFESTYLE.

                                </p>
                                <hr />
                                <br />

                            </section>

                        </div>


                        <div class="6u 12u(mobile)">
                            <section>
                                <header>
                                    <img src="images/elijah4.jpg" width="100%" height="100%" />
                                </header>
                                <p>My name is Elijah, and I'm a sexy beast.
                                </p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <header>
                                    <img src="images/spencer2.jpg" width="100%" height="100%" />
                                </header>
                                <p>I'm Spencer, and I'm super attractive.
                                </p>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer.ejs %>

        </div>

        <% include ./partials/js.ejs %>

</body>

</html>