<!DOCTYPE HTML>

<html>

<head>
    <% include ./partials/header.ejs %>
        <link rel="stylesheet" href="assets/css/services.css" />
</head>

<body class="subpage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header">
                <div class="row">
                    <div class="12u">

                        <% include ./partials/nav.ejs %>

                    </div>
                </div>
            </header>
        </div>

        <!-- Content -->
        <div id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="12u">

                            <!-- Main Content -->
                            <section style="overflow: auto; display: table-cell">
                                <header>
                                    <h2>Services</h2>
                                    <h3>Take a gander at the services we offer</h3>
                                </header>
                                <div class="image-left-container">
                                    <img src="./images/us.jpg" class="image image-left" style="width: 20rem" />
                                    <h3>
                                        <strong class="underline">Who are Live W.O.W. Guardians?</strong>
                                    </h3>
                                    <p>
                                        Due to the negative cultural and social morals that exist in today's fitness industry, Live W.O.W. Guardians is a new and
                                        realistic approach to how fitness, nutrition and life coaching is introduced. Live
                                        W.O.W. Guardians live by integrity, honor, and fellowship. They bring healthy lifestyle
                                        habits into the palm of your own hand.
                                    </p>
                                </div>
                            </section>

                        </div>
                        <div>
                            <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/zmLbFpnaH2BDvmkGS_Qi8A/175068181118" data-did="5c5c5d74fba0d180d53c63ac1a77175cc24e7f0e">
                                <a href="https://etelliott.tumblr.com/post/175068181118/not-every-day-you-see-double-rainbows-remember">https://etelliott.tumblr.com/post/175068181118/not-every-day-you-see-double-rainbows-remember</a>
                            </div>
                            <script async src="https://assets.tumblr.com/post.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer.ejs %>

        </div>

        <% include ./partials/js.ejs %>
            <script src="assets/js/services.js"></script>

</body>

</html>