<!DOCTYPE HTML>
<html>

<head>
    <% include ./partials/header.ejs %>
        <link rel="stylesheet" href="./assets/css/profile.css" />
</head>

<body class="subpage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header">
                <div class="row">
                    <div class="12u">

                        <% include ./partials/nav.ejs %>

                    </div>
                </div>
            </header>
        </div>
        <!-- Content -->
        <div id="content-wrapper">
            <div id="content">
                <div class="container">
                    <h4>Contact</h4>
                    <div class="row">
                        <div class="2u 12u(mobile)"></div>
                        <div class="6u 12u(mobile) important(mobile)">

                            <!-- Main Content -->
                            <section>
                                <header id="contact">
                                    <h2>Talk To Us</h2>
                                    <h3>Move mountains by calling today to get a free consultation with a Live W.O.W. specialist.</h3>
                                </header>
                                <div class="content">
                                    <form action="https://formspree.io/spencerserranilla@gmail.com" method="POST">
                                        <div class="row">
                                            <div class="6u 12u(mobile)">
                                                <input type="text" class="12u form-input" name="name" placeholder="Name" required />
                                            </div>
                                            <div class="6u 12u(mobile)">
                                                <input type="text" class="12u form-input" name="email" placeholder="Email" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="12u">
                                                <select class="form-input">
                                                    <option value="0">Select Subject:</option>
                                                    <option value="1">Fitness</option>
                                                    <option value="2">Nutrition</option>
                                                    <option value="2">Mind</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row 50%">
                                            <div class="12u">
                                                <textarea name="message" class="12u" placeholder="Help me start on..." rows="7" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="12u">
                                                <ul class="">
                                                    <li>
                                                        <input type="submit" class="button" id="submit" value="Send Message" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </section>

                        </div>
                        <div class="4u 12u(mobile)">

                            <!-- Sidebar -->
                            <section>
                                <header id="header">
                                    <h1>For help regarding appointments, sales, and general inquiry please specify the subject
                                        matter and we will get back to you as soon as possible.
                                    </h1>
                                </header>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ./partials/footer.ejs %>

    </div>

    <% include ./partials/js.ejs %>

</body>

</html>