<!DOCTYPE HTML>
<html>

<head>
	<% include ./partials/header.ejs %>
</head>

<body class="subpage">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<header id="header" class="container">
				<div class="row">
					<div class="12u">

						<% include ./partials/nav.ejs %>

					</div>
				</div>
			</header>
		</div>

		<!-- Content -->
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<h4>Sign Up!</h4>
					<div class="row">
						<div class="4u 12u(mobile)">

							<!-- Sidebar -->
							<section>
								<header>
									<img src="images/elijah1.jpg" width="100%" height="100%" />
								</header>
								<p>Owner of LiveWOW
								</p>
							</section>
							<section>
								<header>
									<img src="images/spencer1.jpg" width=100% height="100%" />
								</header>
								<p>
									Owner of LiveWOW
								</p>
							</section>
							<section>
								<header>
									<img src="images/testimonial3.jpg" width="100%" height="100%" />
								</header>
								<p>"Put testimonial here" -person 3
								</p>
							</section>



						</div>
						<div class="8u 12u(mobile) important(mobile)">

							<!-- Main Content -->
							<section>
								<header>
									<h2>Join Us!</h2>
									<h3>Join an awesome team of people.</h3>
								</header>
								<p>
									We connect you with people who are more than just fitness trainers.
								</p>
								<p>
									Sed faucibus viverra ligula, non varius magna semper vitae. Donec eu justo ut ipsum hendrerit congue nec eu risus. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur
									adipiscing egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer vehicula fermentum ligula
									at pretium. Suspendisse semper iaculis eros, eu aliquam justo imperdiet vel. Proin nec dictum mi. Duis commodo enim
									non tellus interdum elit. Suspendisse fermentum adipiscing nisi, a tempor libero malesuada at. Morbi lacinia dui
									adipiscing risus eleifend tincidunt. Proin eu mauris eu tellus eleifend hendrerit.
								</p>
								<a href="#" class="button-big">Start your fitness today!</a>


							</section>

						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

			<!-- Copyright -->
			<div id="copyright">
				&copy; LiveWow. All rights reserved. | Design:
				<a href="https://superiormarketingdesign.com">Superior Marketing & Design</a>
			</div>

	</div>

	<% include ./partials/js.ejs %>

</body>

</html>