<!DOCTYPE HTML>
<html>

<head>
	<% include ./partials/header.ejs %>
</head>

<body class="subpage">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<header id="header">
				<div class="row">
					<div class="12u">

						<% include ./partials/nav.ejs %>

					</div>
				</div>
			</header>
		</div>

		<!-- Content -->
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<h4>Sign Up!</h4>
					<div class="row">
						<div class="4u 12u(mobile)">

							<!-- Sidebar -->
							<section>
								<header>
									<img src="images/elijah1.jpg" width="100%" height="100%" />
								</header>
								<p>Owner of LiveWOW
								</p>
							</section>
							<section>
								<header>
									<img src="images/spencer1.jpg" width=100% height="100%" />
								</header>
								<p>
									Owner of LiveWOW
								</p>
							</section>

						</div>
						<div class="8u 12u(mobile) important(mobile)">

							<!-- Main Content -->
							<section>
								<header>
									<h2>Join an awesome team of people!</h2>
									<h3>Please enter your name, email, birthday, and password.</h3>
								</header>
								<form id="signupForm" onsubmit="validateForm()">
									<div class="row">
										<div class="6u 12u(mobile)">
											<input type="text" class="12u form-input" id="first-name" name="first-name" placeholder="First Name" required />
										</div>
										<div class="6u 12u(mobile)">
											<input type="text" class="12u form-input" id="last-name" name="last-name" placeholder="Last Name" required />
										</div>
									</div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<input type="email" class="12u form-input" id="email" name="email" placeholder="Email" required />
										</div>
										<div class="6u 12u(mobile)">
											<input type="date" class="12u form-input" id="date" name="date" placeholder="Birthday" required />
										</div>
									</div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<input type="password" class="12u form-input" id="password1" name="password1" placeholder="Password" required />
										</div>
										<div class="6u 12u(mobile)">
											<input type="password" class="12u form-input" id="password2" name="password2" placeholder="Password again" required />
										</div>
									</div>
									<div class="row">
										<div class="12u">
											<ul class="">
												<li>
													<input type="submit" class="button" id="submit" value="Create Account" />
												</li>
											</ul>
										</div>
									</div>
									<span id="status"></span>
								</form>

							</section>

						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</div>

	<% include ./partials/js.ejs %>
		<script src="./assets/js/signup.js"></script>

</body>

</html>