<!DOCTYPE HTML>
<html>

<head>
	<% include ./partials/header.ejs %>
</head>

<body class="subpage">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<header id="header" class="container">
				<div class="row">
					<div class="12u">

						<% include ./partials/nav.ejs %>

					</div>
				</div>
			</header>
		</div>

		<!-- Content -->
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<header>
									<h2>Product #1</h2>
									<h3>$14.99</h3>
								</header>
								<img src="images/prod1.jpg" width=100% height="100%" />
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<header>
									<h2>Product 1</h2>
								</header>
								<p>description of the item could go here, and other details</p>
								<a href="#" class="button-big">Order Now</a>
							</section>
						</div>
					</div>

					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<header>
									<h2>Product 2</h2>
								</header>
								<p>description of the item could go here, and other details</p>
								<a href="#" class="button-big">Order Now</a>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<header>
									<h2>Product #2</h2>
									<h3>$14.99</h3>
								</header>
								<img src="images/prod2.jpg" width=100% height="100%" />
							</section>
						</div>
					</div>

				</div>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</div>

	<% include ./partials/js.ejs %>

</body>

</html>