<!DOCTYPE HTML>
<html>

<head>
	<% include ./partials/header.ejs %>
</head>

<body class="subpage">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<header id="header">
				<div class="row">
					<div class="12u">

						<% include ./partials/nav.ejs %>

					</div>
				</div>
			</header>
		</div>

		<!-- Content -->
		<div id="content-wrapper">
			<div id="content">
				<div class="container">
					<h4>Store</h4>
					<div class="row">
						<div class="4u 12u(mobile)">
							<section>
								<header>
									<h2>FITNESS</h2>
								</header>
								<img src="images/prod1.jpg" width=100% height="100%" />
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section>
								<header>
									<h2>NUTRITION</h2>
								</header>
								<img src="images/prod1.jpg" width=100% height="100%" />
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section>
								<header>
									<h2>LIFESTYLE</h2>
								</header>
								<img src="images/prod1.jpg" width=100% height="100%" />
							</section>
						</div>
					</div>

					<br/>
					<br/>
					<br/>

					<div class="row">
						<div class="5u 12u(mobile)">
							<section>
								<iframe width="100%" height="250px" src="https://www.youtube.com/embed/RRFBvEim_iE?&autoplay=0&mute=1&modestbranding=1&autohide=2&theme=dark&showinfo=0&controls=0"
								 frameborder="0" allow="autoplay; encrypted-media"></iframe>
							</section>
						</div>
						<div class="3u 12u(mobile)">
							<section>
								<header>
									<h2>ON Mass Gainer</h2>
									<h3>$29.99</h3>
								</header>
								<img src="https://gymsupplementsus.com/649-large_default/serious-mass.jpg" width=100% height="100%" />
								<a href="#" class="button">Order Now</a>
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section>
								<header>
									<h2 class="underline">Description:</h2>
								</header>
								<ul>
									<li>High Calorie Weight Gainer: 1,250 Calories per 2-Scoop Serving</li>
									<li>50 Grams of Protein per Serving</li>
									<li>Over 250 Grams of Carbohydrates per Servings</li>
									<li>25 Vitamins & Minerals Plus Creatine & Glutamine</li>
									<li>Using an Electric Blender to Add Fresh or Frozen Fruits, Peanut Butter, Nuts & Other Calorie Dense Foods to Boost
										Your Weight Gain Potential</li>
								</ul>

							</section>
						</div>
					</div>

				</div>
			</div>
		</div>

		<% include ./partials/footer.ejs %>

	</div>

	<% include ./partials/js.ejs %>

</body>

</html>