<!DOCTYPE HTML>

<html>

<head>
    <% include ./partials/header.ejs %>
        <link rel="stylesheet" href="assets/css/services.css" />
        <link rel="stylesheet" href="assets/css/wow.css" />
</head>

<body class="subpage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header">
                <div class="row">
                    <div class="12u">

                        <% include ./partials/nav.ejs %>

                    </div>
                </div>
            </header>
        </div>

        <!-- Content -->
        <div id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="12u">

                            <!-- Main Content -->
                            <section style="overflow: auto; display: table-cell">
                                <header>
                                    <h2>W.O.W.</h2>
                                    <h3>Words of Wisdom for a clearer mind and happier life</h3>
                                </header>
                            </section>

                        </div>

                        <div class="4u 12u(mobile) three-boxes">
                            <div class="three-boxes-content">
                                <a href="/guardians">
                                    <h3 class="12u">
                                        <strong class="underline">CUSTOMER'S EXPERIENCES</strong>
                                    </h3>
                                </a>
                                <p>"I've never eaten McDonalds and thought to myself, I'm glad I ate that!"
                                    <br /> - Jim Gaffigan
                                </p>
                                <a href="/about" class="button bottom-right">Read more</a>
                            </div>
                        </div>
                        <div class="4u 12u(mobile) three-boxes">
                            <div class="three-boxes-content">
                                <a href="/guardians">
                                    <h3 class="12u">
                                        <strong class="underline">POSITIVE THINKING</strong>
                                    </h3>
                                </a>
                                <p>"I've never eaten McDonalds and thought to myself, I'm glad I ate that!"
                                    <br /> - Jim Gaffigan
                                </p>
                                <a href="/about" class="button bottom-right">Read more</a>
                            </div>
                        </div>
                        <div class="4u 12u(mobile) three-boxes">
                            <div class="three-boxes-content">
                                <a href="/guardians">
                                    <h3 class="12u">
                                        <strong class="underline">EMPLOYEE'S EXPERIENCES</strong>
                                    </h3>
                                </a>
                                <p>"I've never eaten McDonalds and thought to myself, I'm glad I ate that!"
                                    <br /> - Jim Gaffigan
                                </p>
                                <a href="/about" class="button bottom-right">Read more</a>
                            </div>
                        </div>


                        <div class="6u 12u(mobile) three-boxes">
                            <div class="two-boxes-content">
                                <a href="/guardians">
                                    <h3 class="12u">
                                        <strong class="underline">ELIJAH'S TOPICS</strong>
                                    </h3>
                                </a>
                            </div>
                            <div class="three-boxes-content">
                                <p>PROODUCTIVITY FAITH</p>
                            </div>
                        </div>
                        <div class="6u 12u(mobile) three-boxes">
                            <div class="two-boxes-content">
                                <a href="/guardians">
                                    <h3 class="12u">
                                        <strong class="underline">SPENCER'S TOPICS</strong>
                                    </h3>
                                </a>
                            </div>
                            <div class="three-boxes-content">
                                <p>MOTIVATION FINANCES</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer.ejs %>

        </div>

        <% include ./partials/js.ejs %>
            <script src="assets/js/services.js"></script>

</body>

</html>